      body {

        margin:0;
      }
      .container {

        

        left: 0;  
        right: 0;
        height: 630px;
        opacity: .9;


      }
      .panel-heading {
        z-index: 101;
      }
      .bgImg {
        
        background: #eb01a5;
        background-attachment: fixed;
        background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/07/25/406942/eae5082030bea667533af12383ec4e37.jpg");
        background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/07/25/406942/eae5082030bea667533af12383ec4e37.jpg"), linear-gradient(#eb01a5, #d13531);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        z-index: -10;
        display: block;
        position: fixed;
        left: 0;  
        right: 0;
        -webkit-filter: blur(.9px);
        -moz-filter: blur(.9px);
        -o-filter: blur(.9px);
        -ms-filter: blur(.9px);
        filter: blur(.9px);

      
      }
      .row {

        padding-top: 30px;
      }
      .main {

      	z-index: 2;
        opacity: .91;
        margin-top: 250px;
        margin-right: auto;
        margin: auto;
        width:60%;
        background-color: #0D0D0D;
        border-radius: .3em;
        padding: 0 0 30px 0;
      }
      .header-img {

        float: left;
      	background: url("../images/bummed.png") no-repeat;
      	width:140px;
      	height:140px;
      	display: block;
      	position: relative;
        top: 35;
      	background-size: cover;
      	z-index: 3;
        margin-right: 0;
      	margin-left: 20px;
      }
      .header-imgTwo {

        float: left;
        background: url("../images/fizzed.png");
        width:130px;
        height:130px;
        display: block;
        position: relative;
        top: 45;
        background-size: cover;
        z-index: 3;
        margin-right: 0;
        margin-left: 20px;
      }
      .header-icon {

        background: url("../images/rankOne.png") no-repeat;
        background-size:cover;
        width:80px;
        height:80px;
        display: block;
        position: absolute;
        top: -15;
        z-index: 3;
        margin-left: 30px;
        
      }
      .header-iconTwo {

        background: url("../images/rankFive.png") no-repeat;
        background-size:cover;
        width:80px;
        height:80px;
        display: block;
        position: absolute;
        top: -15;
        z-index: 3;
        margin-left: 200px;

      }
      .header-text {

        position: relative;
      }
      .nav {

      	z-index: 1;
      }
      .rankFive {

        background: url("../images/rankFive.png")no-repeat;
        background-position: center;
        height: 150px;

      }
      .rankFour {

        background: url("../images/rankFour.png")no-repeat;
        background-position: center;
        height: 200px;

      }
      .nav ul {

        position: relative;
        left: 52;
        text-align: center;
      	margin: 0 0 0 250px;
      }
      @media only screen and (max-width: 1000px) {
      .searchBox {

        display:none !important;
      }
      }
      li.searchBox {

        width:500px;
      }
      .navBtn {

        height:34px;
      }
      #srch-term {

        width:300px;
      }
      .navBar {

        border-top:0;
      }
      .navBar li {

        width:150px;
        float: left;
      }
      .panel-default {

        border: none;
        border-radius: .5em;
      }
      .panel-body {

        background: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_2.jpg");
        box-shadow: 10px 10px 5px #0D0D0D;
        background-color: #0D0D0D;
        border-radius: .5em;
        height:100%;
      }
      .bgImg .container {

        opacity: .8;
      }
      .container .panel {

        margin-bottom: 170px;
        background-color: #000;
      }
      .bgImg .container .panel-default {

        border: none; 
      }
      .smaller {

        position: absolute;
        background: url("../images/rankOne.png") no-repeat;
        background-size: contain;
      	height:55px;
        width: 75px;
        top: 2px;
        left: 260px;
      }

      .nav ul > li :hover {

        background-color: #242424 !important;
        width:150px;
        float: left;
      }

      p {

        margin: 0;
        color: #fff;
      }
      .navText h3 {

        height: 0;
        top: 15;
        position: relative;
        left: 20;
        margin: 0;
        color: #337ab7;

      }
      h1 {
        position: relative;
        margin-left: 200px;
      	margin: 0;
        display: inline;
        top: 70px;
        left: 240px;
      }
      .map {

        width: 800px;
        height: 100%;
        margin: 0;
        padding: 0;
      }     
      .align {

        text-align: center;
        padding: 15px;
        margin: 0;        
      }
      .champIcon {

        border-radius: 1em;
        width: 90px;
        height: 90px;   
      }