      body {

        margin:0;
      }

      .bgImg {
        
        background-attachment: fixed;
        background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/07/25/406942/eae5082030bea667533af12383ec4e37.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        /*background-position: center; */
     
      }
      .row {

        padding-top: 30px;
      }
      .main {

      	z-index: 2;
        opacity: .91;
        margin-top: 250px;
        margin-right: auto;
        margin: auto;
        width:60%;
        background-color: #0D0D0D;
        border-radius: .3em;
        padding: 0 0 30px 0;
      }
      .header-img {

      	background: url("../images/bummed.png") no-repeat;
      	width:140px;
      	height:140px;
      	display: block;
      	position: relative;
      	background-size: cover;
      	z-index: 3;
        margin-right: 0;
      	margin-left: 20px;
      }
      .header-icon {

        background: url("../images/icon.png") no-repeat;
        width:80px;
        height:80px;
        display: block;
        position: absolute;
        top: -15;
        background-size: cover;
        z-index: 3;
        margin-left: 30px;
        
      }
      .header-text {

        position: relative;
      }
      .nav {

      	z-index: 1;
      }
      .nav ul {

        position: relative;
        left: 52;
        text-align: center;
      	margin: 0 0 0 250px;
      }
      .navBar {

        border-top:0;
      }
      .navBar li {

        width:150px;
        float: left;
      }
      .panel-body {

        height:100%;
      }
      .smaller {

        position: absolute;
        background: url("../images/icon.png") no-repeat;
        background-size: contain;
      	height:55px;
        width: 75px;
        top: 2px;
        left: 260px;
      }

      .nav ul > li :hover {

        background-color: #242424 !important;
        width:150px;
        float: left;
      }

      p {

        margin: 0;
        color: #fff;
      }
      .navText h3 {

        height: 0;
        top: 15;
        position: relative;
        left: 20;
        margin: 0;
        color: #337ab7;

      }
      h1 {
        position: relative;
        margin-left: 200px;
      	margin: 0;
        display: inline;
        top: 70px;
        left: 240px;
      }
      .map {

        width: 800px;
        height: 100%;
        margin: 0;
        padding: 0;
      }     
      .align {

        text-align: center;
        padding: 15px;
        margin: 0;        
      }
      .champIcon {

        border-radius: 1em;
        width: 90px;
        height: 90px;   
      }