      body {

        margin:0;
      }

      .bgImg {
        

        background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/07/25/406942/eae5082030bea667533af12383ec4e37.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;      
      }

      .main {

      	z-index: 2;
        opacity: .91;
        margin-top: 250px;
        margin-right: auto;
        margin: auto;
        width:60%;
        background-color: #0D0D0D;
        border-radius: .3em;
        padding: 0 0 30px 0;
      }
      .header-icon {

      	background: url("../images/bummed.png") no-repeat;
      	width:140px;
      	height:140px;
      	display: block;
      	position: relative;
      	background-size: cover;
      	z-index: 3;
        margin-right: 0;
      	margin-left: 20px;
      	margin-top: 20px;
      }
      .header-text {

        position: relative;
      }
      .nav {

      	z-index: 1;
      }
      .nav ul {

        text-align: center;
      	margin: 0 0 0 250px;
      }
       .navBar li {

        width:200px;
        float: left;

      }
      .header-icon .smaller {

      	height:75px;
      }

      ul.navHover li:hover {

        background-color: red !important;
        width:200px;
        float: left;

      }

      p {

        color: #fff;

      }
      h1 {
        position: relative;
        margin-left: 200px;
      	margin: 0;
        display: inline;
        top: 70px;
        left: 240px;
      }
      .map {

        width: 800px;
        height: 100%;
        margin: 0;
        padding: 0;
      }     
      .align {

        text-align: center;
        padding: 15px;
        margin: 0;        
      }
      .champIcon {

        border-radius: 1em;
        width: 90px;
        height: 90px;   
      }